@charset "windows-1252";

 .amx-panelPage
{
    background-image: url('../images/Inventory.png');
    background-size:100% 100%;
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #d2d2d2; 
}
.amx-selectManyCheckbox.page2selectmany, .amx-selectManyCheckbox.page2selectmany .selectItemsContainer{
    border:none ;
    background-color: rgba(0,0,0,0);
}
.amx-selectManyCheckbox.page2selectmany  .selectItemsContainer .amx-selectItem {
    font-weight:700;
    font-size:x-large;
    color:red;
    border:none;
    min-height:80px;
    width : 200px;
}
.page2selectmany{
    height:100%;
}

.amx-selectManyCheckbox.page2selectmany .checkbox-text {
  font-size: 20px;
  font-weight: 700;
  color: red;
  padding: 15px 16px;
}

html[dir=ltr] .amx-selectManyCheckbox.page2selectmany .checkbox {
  float: left;
}
html[dir=rtl] .amx-selectManyCheckbox.page2selectmany .checkbox {
  float: right;
}
html[dir=ltr] .amx-selectManyCheckbox.page2selectmany .checkbox-text {
  text-align: center;
}
html[dir=rtl] .amx-selectManyCheckbox.page2selectmany .checkbox-text {
  text-align: center;
}

html[dir=ltr] .amx-selectBooleanCheckbox.loginchkb .checkbox {
  float: left;
}
html[dir=rtl] .amx-selectManyCheckbox.loginchkb .checkbox {
  float: right;
}
html[dir=ltr] .amx-selectManyCheckbox.loginchkb .checkbox-text {
  text-align: center;
}
html[dir=rtl] .amx-selectManyCheckbox.loginchkb .checkbox-text {
  text-align: center;
}

.amx-commandButton .buttonsLarge {
    margin: 10px 5px 10px 5px;
    border: 0;
    padding: 10px 10px;
    display: inline-block;
    outline: 0;
    border-radius: 1px;
    background: #86BC25;
    background-image: none;
    color: #ffffff;
    font-size: 18px;
}
#it3 input[type="text"],#it4 input[type="text"]
{
    color: White;
} 

#it3 label ,#it4 label
{
    color: White;
}